{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">início</a></li>
            <li><a href="">Status</a></li>
            <li><a href="">Perfil</a></li>
        </ul>
    </nav>
    <main>
        <h1>Sejam muito Bem-Vindos à Shoppeshein</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus maiores saepe amet beatae modi vero architecto exercitationem aperiam, in dolorem libero eligendi soluta quis pariatur perferendis qui accusantium culpa.</p>
        
        <a href=""><strong/>Clique aqui para entrar</strong></a>
    </main>
    
</body>
</html>